version: '3.9'

services:
  backend:
    build:
      context: ./backend
    container_name: backend
    restart: always
    ports:
      - "3000:3000"
    env_file:
      - ./backend/.env.production
    command: sh -c "npm run seed:prod && node server.js"

  frontend:
    build:
      context: ./frontend
    container_name: frontend
    restart: always
    ports:
      - "5173:5173"
    env_file:
      - ./frontend/.env.production
    command: npm run dev -- --host
    depends_on:
      - backend
