@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap');

body {
  font-family: "Zalando Sans Expanded", sans-serif;
}

@variant dark (&:where(.dark, .dark *));

/* Define base CSS variables that change based on theme */
:root {
  /* Brand Colors */
  --color-primary: #17722f;
  --color-secondary: #facc15;

  /* Background Colors */
  --color-background: #ffffff;
  --color-surface: #f2f2f2;

  /* Text Colors */
  --color-text: #1F2937;
  --color-text-muted: #6b7280;

  /* Border Colors */
  --color-border: #e5e7eb;

  /* State Colors (optional, can add later) */
  --color-success: #229022;
  --color-warning: #facc15;
}

/* Override variables in dark mode */
:root.dark {
  --color-background: #121212;
  --color-surface: #1e1e1e;
  --color-text: #ffffff;
  --color-text-muted: #a3a3a3;
  --color-border: #2a2d32;
}

/* Register variables as Tailwind colors */
@theme {
  /* Brand */
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);

  /* Backgrounds */
  --color-background: var(--color-background);
  --color-surface: var(--color-surface);

  /* Text */
  --color-text: var(--color-text);
  --color-text-muted: var(--color-text-muted);

  /* Border */
  --color-border: var(--color-border);

  /* State */
  --color-success: var(--color-success);
  --color-warning: var(--color-warning);
}

@layer base {

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px var(--color-surface) inset !important;
    -webkit-text-fill-color: var(--color-text) !important;
    transition: background-color 9999s ease-in-out 0s !important;
  }
}

.hide-scrollbar {
  scrollbar-width: none !important;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none !important;
}